# **DAA - Pertemuan 2**

Nama: Kafka Ramadityo <br>
Prodi: Informatika <br>
Mata Kuliah: Desain dan Analisis Algoritma


## Macam-macam Algoritma

In [ ]:
import numpy as np


a = [1, 2, 3]
b = [4, 5, 6]

hasil = a + b

print(hasil)

def add(list_a, list_b):
  result = []
  for first, second in zip(list_a, list_b):
    result.append(first + second)

  return result

print(add(a, b))

[1, 2, 3, 4, 5, 6]
[5, 7, 9]

In [ ]:
"""
latihan membuat array dengan numpy
"""

import numpy as np

nilai_siswa = np.array([85, 55, 40, 90])

print(nilai_siswa[3])

90



---

# Analisis performa

In [ ]:
import numpy as np

print(np.__version__)

1.23.5



---

# **Latihan**

In [ ]:
nama = "Kafka"
NIM = 2022071036

print("Hello, world")
print("Nama saya ", nama)
print("NIM saya ", NIM)

In [ ]:
a = 5
b = 2

if(a > b):
  print(a, " > ", b)
  print("Five is greater than two!")

In [ ]:
x = 5
y = "John"
print(x)
print(y)

In [ ]:
z = 4
z = "Sally"
print(z)

---

# Analisi Performa: Notasi Big O

In [ ]:
def getFirst(myList):
  return(myList[0])

getFirst([1,2,3])

1

In [ ]:
getFirst([1,2,3,4,5,6,7,8,9])

1

In [ ]:
def getSecond(myList):
  return(myList[1])

getSecond([1,2,3])

In [ ]:
getSecond([1,2,3,4,5,6,7,8,9])

2

In [ ]:
def getLast(myList):
  return myList[len(myList) - 1]

getLast([1,2,3,4,5,6,7,8,9])

9

In [ ]:
def getSum(myList):
  sum = 0
  for item in myList:
    sum = sum + item
  return sum

getSum([1,2,3,4,5,6,7,8,9])

45

In [ ]:
def getKali(myList):
  kali = 2
  for item in myList:
    kali = kali * item
  return kali

getKali([1,2,3,4,8,9])

3456

In [ ]:
def getBagi(myList):
  bagi = 2
  for item in myList:
    bagi = bagi / item
  return bagi

getBagi([1,2,3,4,5])

0.016666666666666666

In [ ]:
def getAverage(myList):
    total = sum(myList)
    avg = total / len(myList)
    return avg

average = getAverage([1, 2, 3, 4])
print(average)

2.5

---
# **Latihan 2**

In [ ]:
def divide_with_sum(set1, set2):
    result = getSum(set1) / getSum(set2)
    return result

def getSum(numbers):
    total = sum(numbers)
    return total

set1 = [1, 2, 3, 4]
set2 = [5, 6, 7, 8]
result = divide_with_sum(set1, set2)
print(result)

0.38461538461538464

In [ ]:
def subtract_with_sum(set1, set2):
    result = getSum(set1) - getSum(set2)
    return result

def getSum(numbers):
    total = sum(numbers)
    return total

set1 = [1, 2, 3, 4]
set2 = [5, 6, 7, 8]
result = subtract_with_sum(set1, set2)
print(result)

-16